.blogcard {
	background-color: rgb(55, 55, 55);
	width: 1024px;
	height: 128px;

	margin: 0 auto;

	margin-bottom: 16px;
}

.blogcard img {
	float: left;
	width: 128px;
	height: 128px;
	margin-right: 16px;
}

.blogcard p {
	padding-left: 16px;
	padding-top: 16px;
}

.blogcard .header {
	color: rgb(255, 255, 255);
	
	font-weight: bold;
	font-size: 36px;
}

.blogcard .subtext {
	color: rgb(160, 160, 160);
	font-size: 20px;
}

.blogcard .releasedate {
	color: rgb(120, 120, 120);
	
	font-weight: normal;
	font-size: 16px;
}